.button{
    border-color: black;
    background-color: white;
    font-size: 20px;
    font-weight: 400px;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif;
    margin-left: 600px;
}


sdvsdlnvksdvks







