.body{
    margin-top: 90px;
}
.cards{
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.card{
    display: inline-block;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-color: coral;
    border: 5px;
    width:480px;
    margin-right: 60px;
}
.img{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    width: 420px;
    height: 280px;
}
.title{
    color: #b4ad9e;
    text-transform: uppercase;
    margin:0px;
    margin-bottom: 23px;
    font-weight: 3px;
    margin-left: 25px;
    font-size: 14px;
}
p{
    width: 450px;
    
    margin-left: 25px;
}

.body{
   margin-left: 25px;
   margin-right: 25px;
}
.text_title{
font-size: 30px;
color: #626262;
margin-left: 25px;
font-family: 'Playfair Display', serif;
font-weight: 400;
}

.img_text{
    color: #626262;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
   


