.img{
    margin-left: 25px;
    margin-right: 25px;
    /* height: 220px; */
    width: 400px;
}
.title{
    color: #b4ad9e;
    text-transform: uppercase;
    margin:0px;
    margin-bottom: 23px;
    font-weight: 3px;
    margin-left: 25px;
    font-family: 'Ubuntu', sans-serif;
}
.div{
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 140px;
    box-sizing: border-box;
    border-color: coral;
    border: 5px;
    width:500px;
}
p{
    width: 450px;
    font-family: 'Playfair Display', ;
    margin-left: 25px;
}

.body{
   margin-left: 25px;
   margin-right: 25px;
}
.text_title{
font-size: 25px;
font-family: 'Playfair Display', serif;
margin-left: 25px;
}





